# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
apartmentiq_streamlit_env/
apartmentiq_env/

# Data and secrets
data/
*.db
.env
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
